<h2>{{title}}</h2>
<p>
  <label>Starting amount:</label><input [(ngModel)]="amount" type='number' />
<p>
  <label>Rate of Return:</label><input [(ngModel)]="rate" type='number' />
</p>
<p>
  <label>Years:</label><input [(ngModel)]="years" type='number' />
</p>
<p>
  <button (click)="calculate()">Calculate</button>
  <button (click)="reset()">Reset</button>
</p>
  <table *ngIf = "savingsRows.length">
    <tr>
      <th>Month</th>
      <th>Interest</th>
      <th>Balance</th>
    </tr>
    <tr *ngFor="let row of savingsRows">
      <td>{{ row.month }}</td>
      <td>{{ row.interest | currency:'USD':true }}</td>
      <td>{{ row.balance | currency:'USD':true }}</td>
    </tr>
  </table>